/*
  SASS Controller
  By Thibaut-baillet
  http://thibaut-baillet.com
*/

/*COLOR*/
$white: #FFF;
$black: #111;
$gray: #bdc3c7;
$blue: #3498db;
$blue-alt: #2c3e50;
$red: #e74c3c;
$green: #2ecc71;
$yellow: #f1c40f;

$base-ui-color:     $blue-alt!default;


$brand-round:        4px!default;


/*
 * GRID
 */
$display-horizontal-grid:    false!default;
$display-vertical-grid:      false!default;


/*
 * Class loaded
 */
$use-nav:             true!default;
$use-arrow:           true!default;
$use-stats:           true!default;
$use-button:          true!default;
$use-form:            true!default;
$use-label:           true!default;
$use-list:            true!default;
$use-popin:           true!default;
$use-scroll:          true!default;
$use-table:           true!default;
$use-icon :           true!default;
$use-icon-mfg :       true!default;



/*------------------------------------*\
    $BASE
\*------------------------------------*/
$base-font-size:    16px!default;
$base-line-height:  24px!default;


/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           40px!default; 
$h2-size:           34px!default; 
$h3-size:           28px!default; 
$h4-size:           22px!default; 
$h5-size:           16px!default; 
$h6-size:           14px!default; 

$milli-size:        12px!default;
$micro-size:        10px!default;


/**
 * Base font-family.
 */
$base-font-family:  sans-serif!default;

/**
 * Default color for objects’ borders etc.
 */


$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;