/*
  SASS Controller
  By Thibaut-baillet
  http://thibaut-baillet.com
*/
/* HTML5 Boilerplate  */
/* line 3, ../sass/library/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../sass/library/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 5, ../sass/library/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 6, ../sass/library/_reset.scss */
[hidden] {
  display: none;
}

/* line 8, ../sass/library/_reset.scss */
html {
  font-size: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../sass/library/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 10, ../sass/library/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 12, ../sass/library/_reset.scss */
::-moz-selection {
  background: #4c6f89;
  color: #fff;
  text-shadow: none;
}

/* line 13, ../sass/library/_reset.scss */
::selection {
  background: #4c6f89;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../sass/library/_reset.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 16, ../sass/library/_reset.scss */
a:hover {
  text-decoration: underline;
}

/* line 17, ../sass/library/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 18, ../sass/library/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 19, ../sass/library/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 20, ../sass/library/_reset.scss */
dfn {
  font-style: italic;
}

/* line 21, ../sass/library/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 22, ../sass/library/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 23, ../sass/library/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 24, ../sass/library/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 25, ../sass/library/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 27, ../sass/library/_reset.scss */
q {
  quotes: none;
}

/* line 28, ../sass/library/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 29, ../sass/library/_reset.scss */
small {
  font-size: 85%;
}

/* line 30, ../sass/library/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 31, ../sass/library/_reset.scss */
sup {
  top: -0.5em;
}

/* line 32, ../sass/library/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 34, ../sass/library/_reset.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 35, ../sass/library/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 36, ../sass/library/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/library/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 39, ../sass/library/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 40, ../sass/library/_reset.scss */
figure {
  margin: 0;
}

/* line 42, ../sass/library/_reset.scss */
form {
  margin: 0;
}

/* line 43, ../sass/library/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 45, ../sass/library/_reset.scss */
label {
  cursor: pointer;
}

/* line 46, ../sass/library/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 47, ../sass/library/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 48, ../sass/library/_reset.scss */
button, input {
  line-height: normal;
}

/* line 49, ../sass/library/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  appearance: button;
  *overflow: visible;
}

/* line 50, ../sass/library/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 51, ../sass/library/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 52, ../sass/library/_reset.scss */
input[type="search"] {
  appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  box-sizing: content-box;
}

/* line 53, ../sass/library/_reset.scss */
input[type="search"]::search-decoration, input[type="search"]::search-cancel-button {
  appearance: none;
}

/* line 54, ../sass/library/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 55, ../sass/library/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 57, ../sass/library/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 59, ../sass/library/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, ../sass/library/_reset.scss */
td {
  vertical-align: top;
}

/* line 62, ../sass/library/_reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* line 64, ../sass/library/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 65, ../sass/library/_reset.scss */
.ir br {
  display: none;
}

/* line 66, ../sass/library/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 67, ../sass/library/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 68, ../sass/library/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 69, ../sass/library/_reset.scss */
.invisible {
  visibility: hidden;
}

/* line 70, ../sass/library/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 71, ../sass/library/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 72, ../sass/library/_reset.scss */
.clearfix {
  *zoom: 1;
}

/*slidedeck*/
/* line 2, ../sass/library/_slidedeck.scss */
#slidedeck_frame {
  width: 880px;
  height: 330px;
  margin-bottom: 20px;
}

/* line 3, ../sass/library/_slidedeck.scss */
#slidedeck_frame h2, #slidedeck_frame h1 {
  font-weight: normal;
}

/* line 4, ../sass/library/_slidedeck.scss */
#slidedeck_frame h2 {
  margin: 5px 0;
}

/* line 5, ../sass/library/_slidedeck.scss */
#slidedeck_frame a {
  color: #198BB4;
}

/* line 6, ../sass/library/_slidedeck.scss */
#slidedeck_frame .twitter-share-button {
  margin: 10px 0 0 10px;
}

/* line 7, ../sass/library/_slidedeck.scss */
#slidedeck_frame .fb-like {
  margin-top: 10px;
}

/* line 8, ../sass/library/_slidedeck.scss */
.skin-slidedeck {
  position: relative;
}

/* line 9, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 10px;
}

/* line 10, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck > dd {
  position: relative;
  height: 294px;
  padding: 0px 15px;
  margin: 0;
  border-right: 5px solid #FFF;
  background: #FFF;
  /* Note: you should position the background with pixel measurements in IE7 as it improperly calculates the height of the DD element when containing vertical slides */
  overflow: hidden;
}

/* line 13, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck > dd img {
  margin-bottom: 10px;
}

/* line 14, ../sass/library/_slidedeck.scss */
img.profil {
  width: 270px;
}

/* line 15, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck .col_left {
  width: 55%;
  float: left;
  margin-right: 10px;
}

/* line 16, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck > dt {
  position: relative;
  cursor: pointer;
  height: 43px;
  line-height: 38px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Futura Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #f6f6f6;
  /*background: #f6f6f6 url('spines.png') top left;*/
  color: #505050;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.spine:hover {
  color: #000;
  background-position: center left;
}

/* line 34, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.spine.active, .skin-slidedeck dl.slidedeck dt.spine.active:hover {
  cursor: default;
  color: #fff;
  background-position: bottom left;
  background-color: #4d6f89;
}

/* line 35, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.spine .index {
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
}

/* line 36, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.spine.active .index {
  margin-bottom: 0;
}

/* line 37, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.spine:hover .index {
  color: #000000;
}

/* line 38, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.spine.active .index {
  color: #ffffff;
}

/* line 39, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck .activeCorner {
  margin-left: -6px;
  width: 12px;
  height: 25px;
}

/* line 40, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dd.slide ul.slidesVertical > li {
  overflow: hidden;
  padding: 10px;
}

/* line 42, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck ul.verticalSlideNav {
  height: 70px;
  width: 25px;
  background: none;
  position: relative;
  overflow: hidden;
  padding: 15px 0 0;
  margin: 0;
  top: 0;
  left: 125px;
  transform: rotate(90deg);
  transform-origin: -7px 0;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: -7px 0;
  -o-transform: rotate(90deg);
  -o-transform-origin: -7px 0;
}

/* line 59, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li {
  position: relative;
  width: 25px;
  height: 12px;
  line-height: 12px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  float: left;
  clear: left;
}

/* line 71, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li.arrow {
  display: none;
}

/* line 73, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li a {
  position: relative;
  display: block;
  padding: 12px 0 0 0;
  margin: 0;
  width: 25px;
  height: 0;
  overflow: hidden;
  line-height: 12px;
  background: url("vertical-nav.png") 0 0 no-repeat;
}

/* line 84, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li.active a {
  background-position: 0 -24px;
}

/* line 85, ../sass/library/_slidedeck.scss */
.skin-slidedeck dl.slidedeck dt.active ul.verticalSlideNav li.active a {
  background-position: 0 -12px;
}

/* line 86, ../sass/library/_slidedeck.scss */
dl.slidedeck dd.slide ul.verticalSlideNav li a:hover {
  opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  -khtml-opacity: 0.75;
  -ms-filter: "Alpha(opacity=75)";
  filter: Alpha(opacity=75);
}

/*HEADER*/
/* line 2, ../sass/partials/_header.scss */
header {
  margin: 0 auto 30px;
  position: relative;
  padding-top: 30px;
}

/* line 3, ../sass/partials/_header.scss */
header img {
  float: left;
}

/* line 4, ../sass/partials/_header.scss */
nav {
  margin-top: 15px;
  text-align: right;
}

/* line 5, ../sass/partials/_header.scss */
nav li {
  display: inline;
}

/* line 6, ../sass/partials/_header.scss */
nav a {
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  margin-left: 3px;
}

/* line 7, ../sass/partials/_header.scss */
nav a:hover, nav .current-menu-item a {
  background-color: #152e3e;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
}

/* line 8, ../sass/partials/_header.scss */
#menu-item-516 a {
  background-color: #B2D13D;
  border-radius: 5px;
}

/* line 9, ../sass/partials/_header.scss */
#menu-item-516 a:hover {
  background-color: #7ca43b;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  background-color: #0c324c;
  color: #8c91a7;
  padding: 30px 0;
}

/* line 2, ../sass/partials/_footer.scss */
footer.copyright {
  background-color: #001F33;
  padding: 5px 0;
}

/* line 3, ../sass/partials/_footer.scss */
footer a {
  color: #8c91a7;
}

/* line 4, ../sass/partials/_footer.scss */
footer section {
  width: 960px;
  margin: 0 auto;
}

/* line 5, ../sass/partials/_footer.scss */
footer ul {
  width: 23%;
  float: left;
  margin-left: 3%;
}

/* line 6, ../sass/partials/_footer.scss */
footer ul.first {
  width: 14%;
  margin-left: 0;
}

/* line 7, ../sass/partials/_footer.scss */
footer ul li:first-child {
  font-size: 1.7em;
  margin-bottom: 20px;
  color: #8C91A7;
}

/* line 8, ../sass/partials/_footer.scss */
footer .menu-item-object-category span {
  font-size: 10px;
}

/* line 9, ../sass/partials/_footer.scss */
#socialLink img {
  float: left;
  margin-right: 4px;
}

/* line 11, ../sass/partials/_footer.scss */
.copyright ul {
  width: auto;
  float: right;
  text-align: right;
}

/* line 12, ../sass/partials/_footer.scss */
.copyright li {
  display: inline;
}

/* line 13, ../sass/partials/_footer.scss */
.copyright ul li:first-child {
  display: inline;
  font-size: 13px;
  margin: 0;
}

/* line 4, ../sass/views/_base.scss */
body {
  background: #294d65 url("img/background.png");
  font-size: 13px;
}

/* line 5, ../sass/views/_base.scss */
header, #main {
  width: 960px;
  margin: 0 auto;
}

/* line 6, ../sass/views/_base.scss */
#main a.link {
  background-color: #4c6f89;
  padding: 10px;
  color: #FFF;
}

/* line 7, ../sass/views/_base.scss */
#main a.link:hover {
  background-color: #163246;
  text-decoration: none;
}

/*MAIN*/
/* line 12, ../sass/views/_base.scss */
#main {
  background-color: #FFF;
  border: 20px solid #4C6F89;
  padding: 0 20px;
  margin: 0 auto 20px;
  width: 880px;
}

/* line 14, ../sass/views/_base.scss */
.pagePortfolio figure, article img, #slidedeck_frame dd img {
  border: 1px solid #CDD1DA;
  padding: 4px;
  background: #EEE;
}

/* line 15, ../sass/views/_base.scss */
#main .pagePortfolio img {
  border: none;
  padding: 0;
  background: none;
}

/* line 16, ../sass/views/_base.scss */
#socialHome {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #17324A;
  padding: 5px 0 2px 10px;
}

/* line 18, ../sass/views/_base.scss */
hgroup {
  margin-bottom: 10px;
}

/* line 19, ../sass/views/_base.scss */
hgroup h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 10px 0 5px;
}

/* line 20, ../sass/views/_base.scss */
hgroup h2 {
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 5px;
  color: gray;
  border-bottom: solid #eeeeee 1px;
  margin: 0;
}

/*PAGINATION*/
/* line 25, ../sass/views/_base.scss */
.wp-pagenavi {
  margin: 10px 0;
}

/* line 26, ../sass/views/_base.scss */
.wp-pagenavi a, .wp-pagenavi span {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 .5em;
  height: 30px;
  line-height: 30px;
  width: 20px;
  text-align: center;
  background: #66A2CC;
  color: white;
  margin-right: 5px;
}

/* line 28, ../sass/views/_base.scss */
.wp-pagenavi a:hover, .wp-pagenavi .current {
  text-decoration: none;
  background: #0D729F;
}

/*SOCIAL LINK*/
/* line 31, ../sass/views/_base.scss */
.more, .countComment, .twitter-share-button, .g-plusone, .fb-like {
  float: left;
}

/* line 32, ../sass/views/_base.scss */
.countComment {
  margin: 0 15px 0 5px;
}

/* line 33, ../sass/views/_base.scss */
.twitter-share-button {
  width: 100px!important;
}

/* line 34, ../sass/views/_base.scss */
#___plusone_4 {
  float: left!important;
}

/*CV*/
/* line 2, ../sass/views/_home.scss */
#cv {
  padding-top: 10px;
  border-top: 1px solid #EEE;
  margin-bottom: 20px;
}

/* line 3, ../sass/views/_home.scss */
#cv ul {
  width: 22%;
  float: left;
  color: #198BB4;
  margin-left: 4%;
}

/* line 4, ../sass/views/_home.scss */
#cv .first {
  width: 30%;
  margin-left: 0;
}

/* line 5, ../sass/views/_home.scss */
#cv .formation {
  width: 13%;
}

/* line 6, ../sass/views/_home.scss */
#cv ul li:first-child {
  color: #000;
  font-weight: bold;
}

/* line 7, ../sass/views/_home.scss */
#cv a {
  color: #198BB4;
}

/* line 8, ../sass/views/_home.scss */
#cv li {
  margin-bottom: 3px;
}

/* line 9, ../sass/views/_home.scss */
#cv span {
  background-image: url("img/note.png");
  height: 16px;
  display: inline-block;
  width: 100px;
  float: right;
}

/* line 10, ../sass/views/_home.scss */
span.n2 {
  background-position: 0 -18px;
}

/* line 11, ../sass/views/_home.scss */
span.n3 {
  background-position: 0 -36px;
}

/* line 12, ../sass/views/_home.scss */
span.n4 {
  background-position: 0 -54px;
}

/* line 13, ../sass/views/_home.scss */
span.n5 {
  background-position: 0 -72px;
}

/*BLOG*/
/* line 2, ../sass/views/_blog.scss */
#pageBlog {
  width: 620px;
}

/* line 3, ../sass/views/_blog.scss */
#pageBlog article h2 {
  margin-bottom: 0;
}

/* line 4, ../sass/views/_blog.scss */
.title_cat {
  border-bottom: solid #EEE 1px;
  font-weight: normal;
  font-size: 16px;
}

/* line 5, ../sass/views/_blog.scss */
article {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: dotted #CDD1DA 2px;
  min-height: 160px;
}

/* line 6, ../sass/views/_blog.scss */
article .thumbnail {
  float: left;
  margin-right: 20px;
  transition: all 0.5s ease-in;
}

/* line 7, ../sass/views/_blog.scss */
article .thumbnail:hover {
  transform: rotateY(180deg);
}

/* line 8, ../sass/views/_blog.scss */
article .meta {
  font-style: italic;
}

/* line 9, ../sass/views/_blog.scss */
article .more {
  background-color: #cadcea;
  padding: 2px 4px;
  border-radius: 2px;
}

/* line 10, ../sass/views/_blog.scss */
article .more:hover {
  background-color: #4c6f89;
  color: #FFF;
  text-decoration: none;
}

/* line 11, ../sass/views/_blog.scss */
article .countComment {
  padding: 1px 3px;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
}

/* line 12, ../sass/views/_blog.scss */
article h1 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

/* line 13, ../sass/views/_blog.scss */
article a {
  color: #198BB4;
}

/* line 14, ../sass/views/_blog.scss */
article aside {
  margin-top: 10px;
}

/* line 17, ../sass/views/_blog.scss */
#listComments img {
  float: left;
  margin-right: 10px;
  border: 1px solid #CCC;
}

/* line 18, ../sass/views/_blog.scss */
#listComments p {
  margin: 10px 0 10px 63px;
}

/* line 19, ../sass/views/_blog.scss */
#listComments time {
  color: #777;
}

/* line 20, ../sass/views/_blog.scss */
#listComments a {
  color: #198BB4;
}

/* line 21, ../sass/views/_blog.scss */
#listComments li {
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* line 22, ../sass/views/_blog.scss */
#listComments p img {
  border: none;
}

/* line 24, ../sass/views/_blog.scss */
.secondary {
  float: right;
  width: 250px;
  background-color: #eee;
  margin-right: -20px;
}

/* line 25, ../sass/views/_blog.scss */
.secondary ul {
  margin-bottom: 10px;
}

/* line 26, ../sass/views/_blog.scss */
.secondary ul li:first-child {
  padding-left: 10px;
  margin-bottom: 10px;
  line-height: 40px;
  background-color: #999;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 27, ../sass/views/_blog.scss */
.secondary ul a {
  width: 220px;
  line-height: 30px;
  background-color: #ccc;
  margin: 0 0 2px 10px;
  padding-left: 10px;
  display: block;
  color: #666;
  font-weight: bold;
  transition: all .5s ease-in;
}

/* line 28, ../sass/views/_blog.scss */
.secondary ul a:hover {
  text-decoration: none;
  background-color: #aaa;
  color: #555;
  width: 160px;
}

/* line 29, ../sass/views/_blog.scss */
.secondary ul a span {
  float: right;
  margin-left: 0;
  margin-right: 10px;
  transition: all .5s ease-in;
}

/* line 30, ../sass/views/_blog.scss */
.secondary ul a:hover span {
  font-size: 16px;
}

/* line 31, ../sass/views/_blog.scss */
.secondary .rss a {
  background: none;
  margin: 0;
}

/* line 33, ../sass/views/_blog.scss */
.secondary form {
  width: 230px;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* line 34, ../sass/views/_blog.scss */
.secondary form input[type=text] {
  width: 160px;
  height: 30px;
  font-size: 14px;
  color: #ACACAC;
  text-align: left;
  line-height: 34px;
  border: none;
  padding: 0 10px;
}

/* line 35, ../sass/views/_blog.scss */
.secondary form input[type=submit] {
  width: 45px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  border: none;
  padding: 0;
}

/*Page Livre*/
/* line 2, ../sass/views/_livre.scss */
#page-465 {
  border-bottom: none;
}

/* line 3, ../sass/views/_livre.scss */
#pageLivre .secondary {
  width: 215px;
  margin-left: 35px;
}

/* line 4, ../sass/views/_livre.scss */
#pageLivre .secondary ul a {
  width: 185px;
}

/* line 5, ../sass/views/_livre.scss */
#pageLivre .secondary ul a:hover {
  width: 145px;
}

/* line 6, ../sass/views/_livre.scss */
#pageLivre hgroup {
  width: 650px;
}

/*PORTFOLIO*/
/* line 2, ../sass/views/_portfolio.scss */
#pagePortfolio figure {
  float: left;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  border: solid #CDD1DA 1px;
  padding: 4px;
  background-color: #EEE;
}

/* line 4, ../sass/views/_portfolio.scss */
#pagePortfolio img {
  transition: all 1.5s ease-in;
  position: relative;
}

/* line 5, ../sass/views/_portfolio.scss */
#pagePortfolio figcaption {
  background: #EEE;
  position: absolute;
  bottom: -35px;
  left: 0;
  display: block;
  width: 100%;
  line-height: 35px;
  padding: 0 0 0 10px;
  transition: all 0.5s ease-in;
}

/* line 6, ../sass/views/_portfolio.scss */
#pagePortfolio figure:hover figcaption {
  bottom: 0;
}

/* line 7, ../sass/views/_portfolio.scss */
#pagePortfolio figure:hover .annimscroll {
  top: -250px;
}

/* line 8, ../sass/views/_portfolio.scss */
#pagePortfolio figure:hover .annimzoom {
  transform: scale(1.1);
}

/* line 10, ../sass/views/_portfolio.scss */
#pagePortfolio .freelance {
  height: 230px;
}

/* line 11, ../sass/views/_portfolio.scss */
#pagePortfolio .freelance figcaption {
  bottom: 0;
}

/* line 14, ../sass/views/_portfolio.scss */
.single-portfolio {
  border: none;
}

/* line 15, ../sass/views/_portfolio.scss */
.single-portfolio img {
  float: right;
  margin: 0 0 20px 20px;
}

/* line 16, ../sass/views/_portfolio.scss */
.single-portfolio .link {
  display: inline-block;
}

/* line 17, ../sass/views/_portfolio.scss */
.single-portfolio aside {
  margin: 20px 0;
}

/* line 18, ../sass/views/_portfolio.scss */
.single-portfolio aside a {
  background-color: #4B708B;
  border-radius: 5px;
  padding: 5px;
  color: #FFF;
  margin-right: 5px;
}

/*FREELANCE*/
/* line 2, ../sass/views/_freelance.scss */
.logo_technologie {
  margin: 20px 0;
}

/* line 5, ../sass/views/_freelance.scss */
.logo_technologie li {
  background-image: url(img/logo_technologie.png);
  height: 100px;
  width: 120px;
  list-style: none;
  float: left;
  margin: 0;
  margin-right: 9px;
  padding: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/* line 19, ../sass/views/_freelance.scss */
.logo_technologie .html5 {
  width: 72px;
  background-position: -10px -100px;
}

/* line 20, ../sass/views/_freelance.scss */
.logo_technologie .html5:hover {
  background-position: -10px -1px;
}

/* line 22, ../sass/views/_freelance.scss */
.logo_technologie .php {
  width: 126px;
  background-position: -95px -100px;
}

/* line 23, ../sass/views/_freelance.scss */
.logo_technologie .php:hover {
  background-position: -95px -1px;
}

/* line 25, ../sass/views/_freelance.scss */
.logo_technologie .mysql {
  width: 156px;
  background-position: -230px -100px;
}

/* line 26, ../sass/views/_freelance.scss */
.logo_technologie .mysql:hover {
  background-position: -230px -1px;
}

/* line 28, ../sass/views/_freelance.scss */
.logo_technologie .wordpress {
  width: 152px;
  background-position: -401px -100px;
}

/* line 29, ../sass/views/_freelance.scss */
.logo_technologie .wordpress:hover {
  background-position: -401px -1px;
}

/* line 31, ../sass/views/_freelance.scss */
.logo_technologie .jquery {
  width: 158px;
  background-position: -565px -100px;
}

/* line 32, ../sass/views/_freelance.scss */
.logo_technologie .jquery:hover {
  background-position: -565px -1px;
}

/* line 34, ../sass/views/_freelance.scss */
.logo_technologie .jquery_mobile {
  width: 158px;
  background-position: -737px -100px;
}

/* line 35, ../sass/views/_freelance.scss */
.logo_technologie .jquery_mobile:hover {
  background-position: -737px -1px;
}

/*CONTACT*/
/* line 2, ../sass/views/_contact.scss */
#page-5 {
  border: none;
}

/* line 3, ../sass/views/_contact.scss */
#page-5 input, #page-5 textarea {
  transition: all 1s ease-in;
}

/* line 4, ../sass/views/_contact.scss */
#page-5 input[type=text] {
  height: 30px;
  border: 1px solid #536f87;
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
  width: 250px;
}

/* line 5, ../sass/views/_contact.scss */
#page-5 input[type=text]:focus, #page-5 textarea:focus {
  background-color: #507595;
  color: #FFF;
  outline: none;
}

/* line 6, ../sass/views/_contact.scss */
#page-5 input[type=text]:focus {
  width: 300px;
}

/* line 7, ../sass/views/_contact.scss */
#page-5 select {
  width: 263px;
  height: 34px;
  font-size: 15px;
  appearance: none;
  padding-left: 10px;
  border-radius: 0;
  background: url("img/arrow_gris.png") no-repeat 95% center;
}

/* line 8, ../sass/views/_contact.scss */
#page-5 select:focus {
  outline: none;
}

/* line 9, ../sass/views/_contact.scss */
#page-5 textarea {
  border: 1px solid #536f87;
  width: 450px;
  padding: 5px;
}

/* line 11, ../sass/views/_contact.scss */
#page-5 .textarea {
  float: right;
  margin: 0;
}

/* line 12, ../sass/views/_contact.scss */
#page-5 input[type=submit], #commentform input[type=submit] {
  background-color: #4c6f89;
  padding: 10px;
  color: #FFF;
  border: none;
}

/* line 14, ../sass/views/_contact.scss */
#page-5 input[type=submit]:hover, #commentform input[type=submit]:hover {
  background-color: #163246;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

/* line 15, ../sass/views/_contact.scss */
#commentform label {
  width: 119px;
  display: inline-block;
}

@media screen and (max-width:960px) {
  /* line 2, ../sass/medias/_responsive.scss */
  header, #main, footer section {
    width: 90%;
  }

  /* line 3, ../sass/medias/_responsive.scss */
  header img {
    float: none;
  }

  /* line 4, ../sass/medias/_responsive.scss */
  #main {
    border: none;
  }

  /* line 5, ../sass/medias/_responsive.scss */
  header nav, header {
    text-align: center;
  }

  /* line 6, ../sass/medias/_responsive.scss */
  #pagePortfolio figure {
    width: 300px;
    height: 232px;
    margin: 2%;
  }

  /* line 7, ../sass/medias/_responsive.scss */
  #pagePortfolio figure img {
    width: 290px;
    height: auto;
  }

  /* line 8, ../sass/medias/_responsive.scss */
  #pagePortfolio figcaption {
    bottom: 0;
  }

  /* line 10, ../sass/medias/_responsive.scss */
  #pagePortfolio .freelance {
    height: 180px;
  }

  /* line 12, ../sass/medias/_responsive.scss */
  #pageBlog {
    width: 60%;
  }

  /* line 14, ../sass/medias/_responsive.scss */
  #slidedeck_frame .slide, #slidedeck_frame dt {
    display: none!important;
  }

  /* line 15, ../sass/medias/_responsive.scss */
  #slidedeck_frame .slide_1 {
    display: block!important;
    padding-left: 0!important;
    width: 100%!important;
  }

  /* line 16, ../sass/medias/_responsive.scss */
  #slidedeck_frame {
    width: 100%;
  }

  /* line 17, ../sass/medias/_responsive.scss */
  .skin-slidedeck dl.slidedeck .col_left {
    width: 56%;
  }

  /* line 18, ../sass/medias/_responsive.scss */
  article img {
    max-width: 90%;
    height: auto;
  }

  /* line 19, ../sass/medias/_responsive.scss */
  #page-5 textarea {
    width: 80%;
  }
}
@media screen and (max-width:750px) {
  /* line 23, ../sass/medias/_responsive.scss */
  #pagePortfolio figure {
    width: 400px;
    height: 310px;
    margin: 20px auto;
    float: none;
  }

  /* line 24, ../sass/medias/_responsive.scss */
  #pagePortfolio figure img {
    width: 390px;
  }

  /* line 25, ../sass/medias/_responsive.scss */
  #pagePortfolio .freelance {
    height: 230px;
    width: 390px;
  }

  /* line 26, ../sass/medias/_responsive.scss */
  .single-portfolio img {
    float: none;
    margin: 0;
  }

  /* line 28, ../sass/medias/_responsive.scss */
  .secondary {
    display: none;
  }

  /* line 30, ../sass/medias/_responsive.scss */
  .skin-slidedeck dl.slidedeck .col_left {
    width: 100%;
    float: none;
  }

  /* line 31, ../sass/medias/_responsive.scss */
  #slidedeck_frame dd img {
    display: none;
  }

  /* line 32, ../sass/medias/_responsive.scss */
  #slidedeck_frame {
    height: 290px;
  }

  /* line 34, ../sass/medias/_responsive.scss */
  #cv ul, #cv .formation, #cv .first {
    float: none;
    margin: 0;
    width: 210px;
  }

  /* line 35, ../sass/medias/_responsive.scss */
  #cv .link {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  /* line 38, ../sass/medias/_responsive.scss */
  #pageBlog {
    width: 100%;
  }

  /* line 40, ../sass/medias/_responsive.scss */
  #page-5 .textarea {
    float: none;
  }

  /* line 41, ../sass/medias/_responsive.scss */
  #page-5 textarea {
    width: 98%;
  }
}
@media screen and (max-width:480px) {
  /* line 45, ../sass/medias/_responsive.scss */
  #main {
    padding: 10px 5%;
  }

  /* line 46, ../sass/medias/_responsive.scss */
  #pagePortfolio figure {
    width: 90%;
    height: 240px;
  }

  /* line 47, ../sass/medias/_responsive.scss */
  #pagePortfolio .freelance {
    height: 195px;
    width: 90%;
  }

  /* line 49, ../sass/medias/_responsive.scss */
  header {
    position: initial;
    padding-top: 40px;
  }

  /* line 50, ../sass/medias/_responsive.scss */
  header .fb-like {
    margin-right: 10px;
  }

  /* line 51, ../sass/medias/_responsive.scss */
  header nav a {
    float: left;
  }

  /* line 52, ../sass/medias/_responsive.scss */
  #socialHome {
    width: 100%;
  }

  /* line 54, ../sass/medias/_responsive.scss */
  #pagePortfolio figure img {
    width: 100%;
  }

  /* line 55, ../sass/medias/_responsive.scss */
  .single-portfolio img {
    width: 90%;
    height: auto;
  }

  /* line 57, ../sass/medias/_responsive.scss */
  footer ul {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  /* line 58, ../sass/medias/_responsive.scss */
  footer ul.first {
    width: 100%;
  }

  /* line 59, ../sass/medias/_responsive.scss */
  .copyright ul {
    float: none;
    text-align: left;
  }

  /* line 61, ../sass/medias/_responsive.scss */
  .secondary, article .more, article .countComment {
    display: none;
  }

  /* line 62, ../sass/medias/_responsive.scss */
  article .thumbnail {
    width: 100px;
    height: 100px;
  }

  /* line 64, ../sass/medias/_responsive.scss */
  form textarea {
    width: 90%;
  }

  /* line 66, ../sass/medias/_responsive.scss */
  #page-5 input[type=submit] {
    width: 100%;
  }

  /* line 70, ../sass/medias/_responsive.scss */
  #slidedeck_frame .slide_1 {
    height: auto!important;
  }
}
@media print {
  /* line 2, ../sass/medias/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 3, ../sass/medias/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 4, ../sass/medias/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 5, ../sass/medias/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 6, ../sass/medias/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 7, ../sass/medias/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 8, ../sass/medias/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 9, ../sass/medias/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 10, ../sass/medias/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 12, ../sass/medias/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 13, ../sass/medias/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
