/*Include @font-face here ! */

@if $use-icon == true{

.icon{
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

}


@if $use-icon-mfg == true{

@font-face {
  font-family: 'icon';
  src: url('http://mfglabs.github.io/mfglabs-iconset/css/font/mfglabsiconset-webfont.eot?41162771');
  src: url('http://mfglabs.github.io/mfglabs-iconset/css/font/mfglabsiconset-webfont.eot?41162771#iefix') format('embedded-opentype'),
       url('http://mfglabs.github.io/mfglabs-iconset/css/font/mfglabsiconset-webfont.woff?41162771') format('woff'),
       url('http://mfglabs.github.io/mfglabs-iconset/css/font/mfglabsiconset-webfont.ttf?41162771') format('truetype'),
       url('http://mfglabs.github.io/mfglabs-iconset/css/font/mfglabsiconset-webfont.svg?41162771#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*  MFG Labs iconset uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons.
    We also use semantic unicode when they are available for the icon we provide. */
.icon-cloud:before                { content: "\2601"; }
.icon-at:before                   { content: "\0040"; }
.icon-plus:before                 { content: "\002B"; }
.icon-minus:before                { content: "\2212"; }

.icon-arrow_up:before             { content: "\2191"; }
.icon-arrow_down:before           { content: "\2193"; }
.icon-arrow_right:before          { content: "\2192"; }
.icon-arrow_left:before           { content: "\2190"; }
.icon-chevron_down:before         { content: "\f004"; }
.icon-chevron_up:before           { content: "\f005"; }
.icon-chevron_right:before        { content: "\f006"; }
.icon-chevron_left:before         { content: "\f007"; }
.icon-reorder:before              { content: "\f008"; }
.icon-list:before                 { content: "\f009"; }
.icon-reorder_square:before       { content: "\f00a"; }
.icon-reorder_square_line:before  { content: "\f00b"; }
.icon-coverflow:before            { content: "\f00c"; }
.icon-coverflow_line:before       { content: "\f00d"; }
.icon-pause:before                { content: "\f00e"; }
.icon-play:before                 { content: "\f00f"; }

.icon-step_forward:before         { content: "\f010"; }
.icon-step_backward:before        { content: "\f011"; }
.icon-fast_forward:before         { content: "\f012"; }
.icon-fast_backward:before        { content: "\f013"; }
.icon-cloud_upload:before         { content: "\f014"; }
.icon-cloud_download:before       { content: "\f015"; }
.icon-data_science:before         { content: "\f016"; }
.icon-data_science_black:before   { content: "\f017"; }
.icon-globe:before                { content: "\f018"; }
.icon-globe_black:before          { content: "\f019"; }
.icon-math_ico:before             { content: "\f01a"; }
.icon-math:before                 { content: "\f01b"; }
.icon-math_black:before           { content: "\f01c"; }
.icon-paperplane_ico:before       { content: "\f01d"; }
.icon-paperplane:before           { content: "\f01e"; }
.icon-paperplane_black:before     { content: "\f01f"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-color_balance:before        { content: "\f020"; }
.icon-star:before                 { content: "\2605"; }
.icon-star_half:before            { content: "\f022"; }
.icon-star_empty:before           { content: "\2606"; }
.icon-star_half_empty:before      { content: "\f024"; }
.icon-reload:before               { content: "\f025"; }

.icon-heart:before                { content: "\2665"; }
.icon-heart_broken:before         { content: "\f028"; }
.icon-hashtag:before              { content: "\f029"; }
.icon-reply:before                { content: "\f02a"; }
.icon-retweet:before              { content: "\f02b"; }
.icon-signin:before               { content: "\f02c"; }
.icon-signout:before              { content: "\f02d"; }
.icon-download:before             { content: "\f02e"; }
.icon-upload:before               { content: "\f02f"; }


.icon-placepin:before             { content: "\f031"; }
.icon-display_screen:before       { content: "\f032"; }
.icon-tablet:before               { content: "\f033"; }
.icon-smartphone:before           { content: "\f034"; }
.icon-connected_object:before     { content: "\f035"; }
.icon-lock:before                 { content: "\F512"; }
.icon-unlock:before               { content: "\F513"; }
.icon-camera:before               { content: "\F4F7"; }
.icon-isight:before               { content: "\f039"; }
.icon-video_camera:before         { content: "\f03a"; }
.icon-random:before               { content: "\f03b"; }
.icon-message:before              { content: "\F4AC"; }
.icon-discussion:before           { content: "\f03d"; }
.icon-calendar:before             { content: "\F4C5"; }
.icon-ringbell:before             { content: "\f03f"; }

.icon-movie:before                { content: "\f040"; }
.icon-mail:before                 { content: "\2709"; }
.icon-pen:before                  { content: "\270F"; }
.icon-settings:before             { content: "\9881"; }
.icon-measure:before              { content: "\f044"; }
.icon-vector:before               { content: "\f045"; }
.icon-vector_pen:before           { content: "\2712"; }
.icon-mute_on:before              { content: "\f047"; }
.icon-mute_off:before             { content: "\f048"; }
.icon-home:before                 { content: "\2302"; }
.icon-sheet:before                { content: "\f04a"; }
.icon-arrow_big_right:before      { content: "\21C9"; }
.icon-arrow_big_left:before       { content: "\21C7"; }
.icon-arrow_big_down:before       { content: "\21CA"; }
.icon-arrow_big_up:before         { content: "\21C8"; }
.icon-dribbble_circle:before      { content: "\f04f"; }

.icon-dribbble:before             { content: "\f050"; }
.icon-facebook_circle:before      { content: "\f051"; }
.icon-facebook:before             { content: "\f052"; }
.icon-git_circle_alt:before       { content: "\f053"; }
.icon-git_circle:before           { content: "\f054"; }
.icon-git:before                  { content: "\f055"; }
.icon-octopus:before              { content: "\f056"; }
.icon-twitter_circle:before       { content: "\f057"; }
.icon-twitter:before              { content: "\f058"; }
.icon-google_plus_circle:before   { content: "\f059"; }
.icon-google_plus:before          { content: "\f05a"; }
.icon-linked_in_circle:before     { content: "\f05b"; }
.icon-linked_in:before            { content: "\f05c"; }
.icon-instagram:before            { content: "\f05d"; }
.icon-instagram_circle:before     { content: "\f05e"; }
.icon-mfg_icon:before             { content: "\f05f"; }
.icon-xing:before                 { content: "\F532"; }
.icon-xing_circle:before          { content: "\F533"; }

.icon-mfg_icon_circle:before      { content: "\f060"; }
.icon-user:before                 { content: "\f061"; }
.icon-user_male:before            { content: "\f062"; }
.icon-user_female:before          { content: "\f063"; }
.icon-users:before                { content: "\f064"; }

.icon-file_open:before            { content: "\F4C2"; }
.icon-file_close:before           { content: "\f067"; }
.icon-file_alt:before             { content: "\f068"; }
.icon-file_close_alt:before       { content: "\f069"; }
.icon-attachment:before           { content: "\f06a"; }
.icon-check:before                { content: "\2713"; }
.icon-cross_mark:before           { content: "\274C"; }
.icon-cancel_circle:before        { content: "\F06E"; }
.icon-check_circle:before         { content: "\f06d"; }
.icon-magnifying:before           { content: "\F50D"; }

.icon-inbox:before                { content: "\f070"; }
.icon-clock:before                { content: "\23F2"; }
.icon-stopwatch:before            { content: "\23F1"; }
.icon-hourglass:before            { content: "\231B"; }
.icon-trophy:before               { content: "\f074"; }
.icon-unlock_alt:before           { content: "\F075"; }
.icon-lock_alt:before             { content: "\F510"; }
.icon-arrow_doubled_right:before  { content: "\21D2"; }
.icon-arrow_doubled_left:before   { content: "\21D0"; }
.icon-arrow_doubled_down:before   { content: "\21D3"; }
.icon-arrow_doubled_up:before     { content: "\21D1"; }
.icon-link:before                 { content: "\f07B"; }
.icon-warning:before              { content: "\2757"; }
.icon-warning_alt:before          { content: "\2755"; }
.icon-magnifying_plus:before      { content: "\f07E"; }
.icon-magnifying_minus:before     { content: "\f07F"; }

.icon-white_question:before       { content: "\2754"; }
.icon-black_question:before       { content: "\2753"; }
.icon-stop:before                 { content: "\f080"; }
.icon-share:before                { content: "\f081"; }
.icon-eye:before                  { content: "\f082"; }
.icon-trash_can:before            { content: "\f083"; }
.icon-hard_drive:before           { content: "\f084"; }
.icon-information_black:before    { content: "\f085"; }
.icon-information_white:before    { content: "\f086"; }
.icon-printer:before              { content: "\f087"; }
.icon-letter:before               { content: "\f088"; }
.icon-soundcloud:before           { content: "\f089"; }
.icon-soundcloud_circle:before    { content: "\f08A"; }
.icon-anchor:before               { content: "\2693"; }

.icon-female_sign:before          { content: "\2640"; }
.icon-male_sign:before            { content: "\2642"; }
.icon-joystick:before             { content: "\F514"; }
.icon-high_voltage:before         { content: "\26A1"; }
.icon-fire:before                 { content: "\F525"; }
.icon-newspaper:before            { content: "\F4F0"; }
.icon-chart:before                { content: "\F526"; }
.icon-spread:before               { content: "\F527"; }

.icon-spinner_1:before            { content: "\F528"; }
.icon-spinner_2:before            { content: "\F529"; }

.icon-chart_alt:before            { content: "\F530"; }
.icon-label:before                { content: "\F531"; }

.animation-spin {
  @include vendor(animation, rotateZ 2s infinite linear);
  &.fast{ @include vendor(animation-duration, 1.5s); }
}

@include keyframe(rotateZ){
    0%{
        @include vendor(transform, rotate(0));
    }
    100%{
        @include vendor(transform,rotate(359deg));
    }
}

}