html{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height:100%;
    font-smoothing: always; 
    -webkit-font-smoothing: antialiased;
}

*{
    @include vendor(box-sizing, border-box);
}

/*Heading*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin: 0;
}

h1, .h1{ font-size: 24px; }
h2, .h2{ font-size: 20px; }
h3, .h3{ font-size: 16px; }
h4, .h4{ font-size: 14px; }
h5, .h5{ font-size: 12px; }
h6, .h6{ font-size: 10px; }
.giga{ font-size: 65px; }


:focus {outline:none;}
::-moz-focus-inner {border:0;}

