@if $use-breadcrumb == true{

.breadcrumb {
    padding:$half-spacing-unit;
    margin: 0 0 $base-line-height;
    background-color: map-get($themes-breadcrumb, background);
    border-radius: $brand-round;
    
    li {
        display: inline-block;
        
        + li:before {
            content: "/\00a0";
            padding: 0 5px;
        }
        
        &.active { cursor: default; }
    }
    
}

}