@if $use-button == true{

.btn{
    display:inline-block;       
    vertical-align:middle;      
    cursor:pointer;             
    border:none;                
    margin:0;                      
    padding: 0 1em;
    line-height: 2.4;          
}

/*------------------------------------*\
//    $SIZES
\*------------------------------------*/
.btn--small{
    padding-right:1em;
    padding-left: 1em;
    font-size: 12px;
}

.btn--large{
    padding-right:2em;
    padding-left: 2em;
    font-weight: bold;
    font-size: 24px;
}

.btn--huge{
    padding-right:2em;
    padding-left: 2em;
    line-height:4.8;
}


.btn--full{
    width:100%;
    padding:0;            
    text-align:center;
    i{ margin-left: -1em; }
}

.btn--fixed{
    width: 360px;
    text-align: center;
    border-radius: $brand-round;
    
    i{ margin-left: -1em; }
}

/*BTN Color*/
.btn--blue, .btn--green, .btn--red, .btn--yellow, .btn--black, .btn--blue--alt{
    color: $white;
}

.btn--white{  @include button($white);}
.btn--black{  @include button($black);}
.btn--gray{   @include button($gray);}
.btn--blue{   @include button($blue); }
.btn--green{  @include button($green);}
.btn--red{    @include button($red);}
.btn--yellow{ @include button($yellow);}
.btn--blue--alt{ @include button($blue-alt); }



}