@if $use-label == true{

.label {
    padding: $half-spacing-unit/2;
    border-radius: $brand-round;
    white-space: nowrap;
    color: $white;
    font-weight: bold;
}

.label--gray { background-color: $gray; }

.label--blue { background-color: $blue; }

.label--green { background-color: $green; }

.label--yellow { background-color: $yellow; }

.label--red { background-color: $red; }

.label--black { background-color: $black; }




}