@if $use-nav == true{

/*
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
*/
.nav {
    list-style: none;
    margin-left: 0;
    @extend .cf;

    > li {
        &,
        > a {
            display: inline-block;
           *display: inline;
            zoom: 1;
        }
    }
}


/*
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
*/
.nav--stacked {
    > li {
        display:list-item;

        > a { display:block; }
    }
}


/*
   <ul class="nav nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
*/
.nav--block {
    white-space:nowrap;

    > li {
        > a { padding: $half-spacing-unit; }
    }
}


/*
   <ul class="nav nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
*/
.nav--fit {
    display: table;
    width: 100%;

    > li {
        display: table-cell;

        > a {
            display: block;
        }
    }
}


/*
   <ul class="nav nav--keywords">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
*/
.nav--keywords {
    > li {
        &:after { content:"\002C" "\00A0"; }
        &:last-child:after { display:none; }
    }
}


/*
  <header class="navbar">
   <ul class="nav nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 </header>
*/
.navbar {
    background-color: $base-ui-color;
    margin-bottom: $base-line-height;
    
    a{
        color: #FFF;
        
        &:hover, 
        &.current {
            background-color: lighten($base-ui-color, 5%);
        }
    }
}



/*
  <li class="dropdown-toggle">
      <a href="#">Licence</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul>
  </li>
*/
.dropdown-toggle {
    position: relative;
    &:hover {
        .dropdown-menu{ display:block; }
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: $base-ui-color;
    display: none;
    
    a { @extend .btn; }
}


}