@if $use-pagination == true{

.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    margin-bottom: $base-line-height;
    
    li { display: inline; }
    
    a {
        border: 2px solid map-get($themes-pagination, border);
        padding: 5px 10px;
        color: map-get($themes-pagination, text);
        background-color: map-get($themes-pagination, background);
        
        &:hover, 
        &.current {
            background-color: map-get($themes-pagination, background-hover);
            color: map-get($themes-pagination, text-hover);
        }
    }
}

}