@if $use-scroll == true{

/** 
    css for plugin nanoScroller.js : http://jamesflorentino.github.io/nanoScrollerJS/
**/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
  
  .content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    
    &::-webkit-scrollbar {
      visibility: hidden;
    }
  }
  
  > .pane {
    background : map-get($themes-scroll, background-pane);
    position   : absolute;
    width      : 10px;
    right      : 5px;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01; 
    @include vendor(transition, .2s); 
    border-radius         : 5px;
    
     > .slider {
      background: #444;
      background: map-get($themes-scroll, background-slider);
      position              : relative;
      margin                : 0 1px;
      border-radius         : 3px;
    }
  }
  
}

.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}

.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

}