@if $use-table == true{

table{
    width:100%;
}
th,
td{
    padding:$base-spacing-unit / 4;
    @media screen and (min-width:480px){
        padding:$half-spacing-unit;
    }
    text-align:left;
}


/**
 * Cell alignments
 */
[colspan]{
    text-align:center;
}
[colspan="1"]{
    text-align:left;
}
[rowspan]{
    vertical-align:middle;
}
[rowspan="1"]{
    vertical-align:top;
}
.numerical{
    text-align:right;
}


.table--bordered{
    th,
    td{
        border:1px solid $base-ui-color;

        &:empty{
            border:none;
        }
    }

    thead tr:last-child th{
        border-bottom-width:2px;
    }

    tbody tr th:last-of-type{
        border-right-width:2px;
    }
}

.table--striped{
    tbody tr:nth-of-type(odd){
        background-color:#ffc; /* Override this color in your theme stylesheet */
    }
}


}